<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <th:block th:include="_header"></th:block>
  <th:block th:include="_menu"></th:block>

  <div sec:authorize="hasAuthority('CUSTOMER')">
    <p th:text="'Логин: ' + ${user.username}"></p>
    <p th:text="'Бонусов на карте: ' + ${user.bonuses}"></p>
  </div>
  <div sec:authorize="hasAuthority('EMPLOYEE')">
    <p th:text="'Логин: ' + ${user.username}"></p>
  </div>

</body>
</html>